.layout-container {
	background-color : #F0F3F5;
}

input[type="color"] {
	width: 30px;
	height: 30px;
	border: 1px solid #888;
	cursor: pointer;
	padding: 0px;
}

input[type="color"]::-webkit-color-swatch {
	border: none; /* Supprime la bordure interne sur WebKit */
}

input[type="color"]::-moz-color-swatch {
	border: none; /* Supprime la bordure interne sur Firefox */
}

input[type="color"]:focus {
	outline: none;
	box-shadow: 0 0 5px #888;
}